<section class="footer-information">
    <div class=section-main__information">
        <p class="section-main__text">Lorem ipsum dolor sit amet consectetur.</p>
        <h1 class="section-main__title">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
        <p class="section-main__text">Lorem </p>
    </div>
</section>