<nav class="navigat">
    <ul class="navigat-menu">
        <li class="navigat-menu__item" ><a class="navigat-item__text" href="#">Item</a></li>
        <li class="navigat-menu__item"><a class="navigat-item__text"href="#">Item</a></li>
        <li class="navigat-menu__item"><a class="navigat-item__text"href="#">Item</a></li>
        <li class="navigat-menu__item"><a class="navigat-item__text"href="#">Item</a></li>
    </ul>
</nav>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium quibusdam voluptatibus saepe ullam ratione ipsum? Sapiente eveniet earum minima deserunt sed, totam ipsum.</p>