<section class="header-description">
    <div class="header-description__information">
        <p class="header-description__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, praesentium.</p>
        <h1 class="header-description__title">Lorem ipsum dolor sit amet.</h1>
        <p class="header-description__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis quam non velit natus a culpa.</p>
        <a class="btn" href="#">BTN</a>
    </div>
</section>