<nav class="navigat">
    <ul class="navigat-menu">
        <li class="navigat-menu__item" ><a class="navigat-item__text" href="#">Item</a></li>
        <li class="navigat-menu__item"><a class="navigat-item__text"href="#">Item</a></li>
        <li class="navigat-menu__item"><a class="navigat-item__text"href="#">Item</a></li>
        <li class="navigat-menu__item"><a class="navigat-item__text"href="#">Item</a></li>
    </ul>
<div class="navigat__btn">
    <div class="lines active-menu">
         <svg width="26" height="3" viewBox="0 0 26 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="26" height="3" rx="1.5" fill="black"/>
         </svg>
        <svg width="26" height="3" viewBox="0 0 26 3" fill="none" xmlns="http://www.w3.org/2000/svg">
             <rect width="26" height="3" rx="1.5" fill="black"/>
        </svg>
        <svg width="26" height="3" viewBox="0 0 26 3" fill="none" xmlns="http://www.w3.org/2000/svg">
             <rect width="26" height="3" rx="1.5" fill="black"/>
         </svg>
    </div>
    <div class='cross-lines '>
        <svg class="cross-lines__icon" width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.782471" y="12.3033" width="50" height="2" transform="rotate(-45 0.782471 12.3033)" fill="black"/>
        </svg>
        <svg class="cross-lines__icon" width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="12.8033" y="13.7175" width="50" height="2" transform="rotate(-135 12.8033 13.7175)" fill="black"/>
        </svg>       
    </div > 
 </div>
</nav>