<section class="section-main">
    <div class=section-main__information">
        <p class="section-main__text">Lorem</p>
        <h1 class="section-main__title">Lorem ipsum dolor sit amet.</h1>
        <p class="section-main__text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
    <div class=section-main__information">
        <p class="section-main__text">Lorem ipsum dolor sit.</p>
        <h1 class="section-main__title">Lorem ipsum dolor sit amet consectetur.</h1>
        <p class="section-main__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iure reprehenderit ut.</p>
    </div>
</section>