.navigat{
   display: flex;
}
.navigat-menu{
    width: 100%;
    @include flex(space-around,center);
}
.navigat-menu__item{
    list-style-type: none;
}
.navigat-item__text{
    text-decoration: none;

}
.navigat__btn{
   display: none;
}

@media(max-width:768px){

.navigat-menu{
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.navigat-main-logo{
    display: none;
}
.navigat__btn{
    border: 0;
    display: flex;
    gap:6px;
    flex-direction:column;
    align-items: center;
    right: 30px;
    position: absolute;
}
.lines{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.cross-lines__icon{
    position: absolute;
}
.active-menu{
    display: none;
}
}